<mat-card
	*ngIf="post"
	class="post"
>
	<div class="post-header">
		<a [routerLink]="[post?.creator?.discriminator === 'User' ? '/users' : '/groups', post?.creator?.id]">
			<img
				class="post-avatar"
				[src]="environment.apiUrl + '\\' + post?.creator?.profileImagePath"
				[matTooltip]="post?.creator?.qualifiedName || 'Unknown'"
			>
		</a>
		<div class="post-info">
			<div class="name-container">
				<span>
					<a
						*ngIf="post?.creator"
						[routerLink]="[post?.creator?.discriminator === 'User' ? '/users' : '/groups', post?.creator?.id]"
					>
						{{post?.creator?.qualifiedName}}
					</a>
				</span>
			</div>
			<div class="date-container">
				<span
					class="post-date"
					[matTooltip]="post?.createdOn | date:'EEEE, MMMM d, y, HH:mm'"
				>
					{{fromNow}}
				</span>
			</div>
		</div>
		<button
			mat-icon-button
			[matMenuTriggerFor]="postActions"
		>
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #postActions="matMenu">
			<button
				mat-menu-item
				[cdkCopyToClipboard]="urlToClipboard()"
			>
				<mat-icon>link</mat-icon>
				<span>Copy link to clipboard</span>
			</button>
			<button
				*ngIf="authService?.activeSystemEntityValue?.id !== post?.creator?.id"
				mat-menu-item
			>
				<mat-icon>report</mat-icon>
				<span>Report</span>
			</button>
			<button
				*ngIf="authService?.activeSystemEntityValue?.id === post?.creator?.id"
				mat-menu-item
			>
				<mat-icon>delete</mat-icon>
				<span>Delete post</span>
			</button>
		</mat-menu>
	</div>
	<div
		*ngIf="post?.text"
		class="post-text"
	>
		{{ post?.text }}
	</div>
	<div
		*ngIf="renderedMedia || youtubeUrl"
		class="post-media"
	>
		<app-media-preview
			*ngIf="renderedMedia"
			[renderedMedia]="renderedMedia"
		></app-media-preview>
		<app-youtube-preview
			*ngIf="youtubeUrl"
			[url]="youtubeUrl"
		></app-youtube-preview>
	</div>
	<div class="post-activity">
		<div class="post-reactions">
			<span
				class="score-text"
				[matTooltip]="'Score'"
			>
				{{ (score | shortNumber) || '0' }}
			</span>
			<div class="actions">
				<button
					mat-icon-button
					[color]="liked? 'accent': 'primary'"
					[matTooltip]="'Like'"
					(click)="like()"
				>
					<mat-icon>thumb_up</mat-icon>
				</button>
				<button
					mat-icon-button
					[color]="disliked? 'accent': 'primary'"
					[matTooltip]="'Dislike'"
					(click)="dislike()"
				>
					<mat-icon>thumb_down</mat-icon>
				</button>
			</div>
		</div>
		<div class="post-comments">
			<span class="score-text">
				{{ (pagedList?.totalCount | shortNumber) || '0' }}
			</span>
			<div class="actions">
				<button
					mat-icon-button
					[color]="'primary'"
					[matTooltip]="'Comments'"
					(click)="toggleComments()"
				>
					<mat-icon>comment</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<div
		[hidden]="!commentsExpanded"
		class="comments-container"
	>
		<mat-divider></mat-divider>
		<app-new-comment
			[post]="post"
			(commentCreated)="commentCreated($event)"
		></app-new-comment>
		<mat-divider></mat-divider>
		<app-comment
			*ngFor="let comment of comments"
			[comment]="comment"
		></app-comment>
		<div class="load-more-container">
			<button
				*ngIf="pagedList && this.paging.pageNumber <= this.pagedList.totalPages"
				mat-button
				color="primary"
				(click)="getComments()"
			>
				<span>Load more comments</span>
			</button>
		</div>
	</div>
</mat-card>
