.search-container {
  max-width: 1000px;
  margin: 10px auto;
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .search-text {
      width: 250px;
      padding: 10px;
    }
    .results-kind {
      display: flex;
      flex-direction: column;
      padding: 10px;
      mat-radio-button {
        margin-bottom: 5px;
      }
    }
    .search-button {
      width: 150px;
      text-transform: uppercase;
      mat-icon {
        margin-right: 5px;
      }
    }
  }
  .no-results {
    text-align: center;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
  }
  .search-results {
    color: black;
  }
}
