.movie-production {
  .production-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .title {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .production-companies {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      .movie-production-company-wrapper {
        padding: 5px;
      }
    }
    .keywords-companies-container {
      flex: 1 1 auto;
      max-width: 600px;
    }
    .production-info {
      width: 300px;
    }
  }
}
