<div class="group-header-container">
	<input
		#mediaInput
		(change)="addFiles()"
		type="file"
		accept="image/*"
		multiple
		hidden
	>
	<div
		*ngIf="!coverPreviewMode; else coverPreview"
		class="cover-image"
	>
		<img
			*ngIf="group?.coverImagePath; else coverPlaceholder"
			[src]="environment.apiUrl + '\\' + group?.coverImagePath"
		>
		<ng-template #coverPlaceholder>
			<img [src]="'assets/images/cover.jpg'">
		</ng-template>
	</div>
	<ng-template #coverPreview>
		<div class="cover-image">
			<img [src]="group?.coverImagePath">
		</div>
	</ng-template>
	<div class="profile-settings">
		<button
			mat-icon-button
			color="primary"
			[matMenuTriggerFor]="profileSettings"
		>
			<mat-icon>settings</mat-icon>
		</button>
		<mat-menu #profileSettings="matMenu">
			<button
				*ngIf="group?.id !== authService?.activeSystemEntityValue?.id"
				mat-menu-item
			>
				<mat-icon>report</mat-icon>
				<span>Report group</span>
			</button>
			<button
				*ngIf="group?.id === authService?.activeSystemEntityValue?.id"
				mat-menu-item
				(click)="addMedia('cover')"
			>
				<mat-icon>image</mat-icon>
				<span>Change cover picture</span>
			</button>
			<button
				*ngIf="group?.id === authService?.activeSystemEntityValue?.id"
				mat-menu-item
				(click)="addMedia('profile')"
			>
				<mat-icon>face</mat-icon>
				<span>Change profile picture</span>
			</button>
		</mat-menu>
	</div>
	<div
		*ngIf="!profilePreviewMode; else profilePreview"
		class="profile-image"
	>
		<img
			*ngIf="group?.profileImagePath; else profilePlaceholder"
			[src]="environment.apiUrl + '\\' + group?.profileImagePath"
		>
		<ng-template #profilePlaceholder>
			<img [src]="'assets/images/avatar.png'">
		</ng-template>
	</div>
	<ng-template #profilePreview>
		<div class="profile-image">
			<img [src]="group?.profileImagePath">
		</div>
	</ng-template>
	<div class="title">
		<span>{{group?.title}}</span>
	</div>
	<div class="subtitle">
		<span>{{group?.subtitle}}</span>
	</div>
	<div class="followers">
		<button
			mat-button
			color="primary"
			(click)="seeFollowers()"
		>
			{{followers?.length || 0}} followers
		</button>
		<button
			mat-button
			color="primary"
			(click)="seeFollowing()"
		>
			{{following?.length || 0}} following
		</button>
	</div>
	<div class="actions">
		<button
			*ngIf="group?.id !== authService?.activeSystemEntityValue?.id && !isFollowing"
			mat-flat-button
			color="primary"
			(click)="follow()"
		>
			Follow
		</button>
		<button
			*ngIf="group?.id !== authService?.activeSystemEntityValue?.id && isFollowing"
			mat-button
			color="warn"
			(click)="unfollow()"
		>
			Unfollow
		</button>
		<button
			*ngIf="authService?.activeSystemEntityValue?.id === group?.id"
			color="primary"
			mat-button
			(click)="switchFromGroup()"
		>
			Exit admin view
		</button>
		<button
			*ngIf="authService?.activeSystemEntityValue?.id !== group?.id && group?.isAuthUserAdmin"
			color="primary"
			mat-button
			(click)="switchToGroup()"
		>
			Switch to admin view
		</button>
	</div>
</div>
