<div class="new-comment">
	<div class="new-comment-header">
		<a [routerLink]="[authService?.activeSystemEntityValue?.discriminator === 'User' ? '/users' : '/groups', authService?.activeSystemEntityValue?.id]">
			<img
				class="new-comment-avatar"
				[src]="environment.apiUrl + '\\' + authService?.activeSystemEntityValue?.profileImagePath"
				[matTooltip]="authService?.activeSystemEntityValue?.qualifiedName"
			>
		</a>
		<div class="new-comment-info">
			<div class="name-container">
				<span>
					<a [routerLink]="[authService?.activeSystemEntityValue?.discriminator === 'User' ? '/users' : '/groups', authService?.activeSystemEntityValue?.id]">
						{{authService?.activeSystemEntityValue?.qualifiedName}}
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="new-comment-body">
		<div class="new-comment-text">
			<mat-form-field
				class="full-width"
				appearance="outline"
			>
				<mat-label>
					Reply to {{post?.creator?.qualifiedName}}
				</mat-label>
				<textarea
					(input)="onTextChange($event)"
					[value]="command.text"
					cdkTextareaAutosize
					matInput
				></textarea>
			</mat-form-field>
			<div>
				<button
					class="emoji-toggle-button"
					color="primary"
					(click)="toggleEmojiPicker()"
					mat-icon-button
				>
					<mat-icon>sentiment_satisfied_alt</mat-icon>
				</button>
			</div>
			<div class="emoji-wrapper">
				<emoji-mart
					*ngIf="showEmojiPicker"
					(emojiSelect)="addEmoji($event)"
					class="emoji-mart"
					set="facebook"
					[darkMode]="false"
					title="Pick your emoji"
					emoji="joy"
					[perLine]="8"
				></emoji-mart>
			</div>
		</div>
	</div>
	<div class="new-comment-actions">
		<button
			mat-button
			color="primary"
			(click)="createComment()"
		>
			<span>Comment</span>
		</button>
	</div>
</div>
