.new-comment {
  min-height: 100px;
  padding: 16px 0;
  .new-comment-header {
    display: flex;
    .new-comment-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #d2d7df;
    }
    .new-comment-avatar:hover {
      cursor: pointer;
      opacity: 0.9;
    }
    .new-comment-info {
      padding-left: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .name-container:hover {
        cursor: pointer;
        opacity: 0.9;
      }
      .date-container:hover {
        cursor: default;
      }
    }
  }
  .new-comment-body {
    .new-comment-text {
      display: flex;
      align-items: flex-end;
      position: relative;
      .full-width {
        width: 100%;
      }
      .emoji-toggle-button {
        margin-bottom: 35px;
        margin-left: 10px;
      }
      .emoji-wrapper {
        position: absolute;
        right: 0px;
        bottom: -410px;
        z-index: 5;
      }
    }
  }
  .new-comment-actions {
    display: flex;
    justify-content: flex-end;
    button {
      text-transform: uppercase;
    }
  }
}
