/* You can add global styles to this file, and also import other style files */

@import "~@ctrl/ngx-emoji-mart/picker";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: #3f51b5 !important;
}

a:hover {
  text-decoration: underline;
}

input {
  box-shadow: none;
}

.user-container {
  .mat-tab-header {
    background: #fff;
    z-index: 2;
    position: sticky;
    top: 64px;
    @media only screen and (max-width: 600px) {
      top: 56px;
    }
    .mat-tab-labels {
      justify-content: center;
    }
  }
}

.mat-toolbar {
  z-index: 10000 !important;
}
