.movie-production-company-container {
  width: 100px;
  .poster-container {
    position: relative;
    .poster {
      border-radius: 5px;
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    .vote-average {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 5px;
      border-radius: 5px;
      background: #3f51b5;
      color: white;
      font-weight: bold;
    }
  }
  .poster-container:hover {
    opacity: 0.9;
  }
  .center {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
}
