.movies-recommended-container {
  .movie-thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, max-content));
    grid-gap: 10px;
    justify-content: center;
  }
  .load-more {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    mat-progress-bar {
      width: 250px;
    }
  }
}
