.result {
  border-radius: 5px;
  margin: 5px;
  height: 80px;
  .result-content {
    display: flex;
    align-items: center;
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      user-select: none;
      pointer-events: none;
      object-fit: cover;
      margin: 0 10px;
    }
    .result-info {
      margin-left: 5px;
      width: calc(100% - 60px);
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .title,
      .subtitle,
      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .title {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
      }
      .subtitle {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
      }
      .description {
        font-size: 12px;
        color: #000000de;
      }
    }
  }
}
