.movies-trending-container {
  .time-window {
    margin-bottom: 10px;
  }
  .movie-thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, max-content));
    grid-gap: 10px;
    justify-content: center;
  }
}
