.movies-trending-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .movie-thumbnail-wrapper {
    padding: 5px;
    animation-duration: 300ms;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
  }
}

.time-window {
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
