.movies-trending-container {
  .time-window {
    margin-bottom: 10px;
  }
  .results {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
      justify-content: center;
    }
    .movie-thumbnail-wrapper {
      padding: 5px;
    }
  }
}
