<div
	*ngIf="comment"
	class="comment"
>
	<div class="comment-header">
		<a [routerLink]="[comment?.creator?.discriminator === 'User' ? '/users' : '/groups', comment?.creator?.id]">
			<img
				class="comment-avatar"
				[src]="environment.apiUrl + '\\' + comment?.creator?.profileImagePath"
				[matTooltip]="comment?.creator?.qualifiedName || 'Unknown'"
			>
		</a>
		<div class="comment-info">
			<div class="name-container">
				<span>
					<a
						*ngIf="comment?.creator"
						[routerLink]="[comment?.creator?.discriminator === 'User' ? '/users' : '/groups', comment?.creator?.id]"
					>
						{{comment?.creator?.qualifiedName}}
					</a>
				</span>
			</div>
			<div class="date-container">
				<span
					class="comment-date"
					[matTooltip]="comment?.createdOn | date:'EEEE, MMMM d, y, HH:mm'"
				>
					{{fromNow}}
				</span>
			</div>
		</div>
		<button
			mat-icon-button
			[matMenuTriggerFor]="commentActions"
		>
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #commentActions="matMenu">
			<button
				mat-menu-item
				[cdkCopyToClipboard]="urlToClipboard()"
			>
				<mat-icon>link</mat-icon>
				<span>Copy link to clipboard</span>
			</button>
			<button
				*ngIf="authService?.activeSystemEntityValue?.id !== comment?.creator?.id"
				mat-menu-item
			>
				<mat-icon>report</mat-icon>
				<span>Report</span>
			</button>
			<button
				*ngIf="authService?.activeSystemEntityValue?.id === comment?.creator?.id"
				mat-menu-item
			>
				<mat-icon>delete</mat-icon>
				<span>Delete comment</span>
			</button>
		</mat-menu>
	</div>
	<div class="comment-text">{{ comment?.text }}</div>
	<div class="comment-activity">
		<div class="comment-reactions">
			<span
				class="score-text"
				[matTooltip]="'Score'"
			>
				{{ (score | shortNumber) || '0' }}
			</span>
			<div class="actions">
				<button
					mat-icon-button
					[color]="liked? 'accent': 'primary'"
					[matTooltip]="'Like'"
					(click)="like()"
				>
					<mat-icon>thumb_up</mat-icon>
				</button>
				<button
					mat-icon-button
					[color]="disliked? 'accent': 'primary'"
					[matTooltip]="'Dislike'"
					(click)="dislike()"
				>
					<mat-icon>thumb_down</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
