.notifications-container {
  margin: 10px;
  .notifications {
    color: black;
    .notification {
      border-radius: 5px;
      margin: 5px;
      height: 80px;
      user-select: none;
      cursor: pointer;
      .notification-content {
        display: flex;
        align-items: center;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          user-select: none;
          pointer-events: none;
          object-fit: cover;
        }
        .notification-info {
          margin-left: 5px;
          max-width: calc(100% - 60px);
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .notification-notifier {
            font-weight: bold;
          }
          .notification-notifier,
          .notification-body,
          .notification-date {
            line-height: 14px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .notification-date,
          .notification-body {
            font-size: 12px;
            line-height: 12px;
            color: #000000de;
          }
        }
      }
    }
    .notification:focus {
      outline: none;
    }
    .new-notification {
      background-color: #d2d7df;
    }
  }
}
