<mat-card class="new-post">
	<div class="new-post-header">
		<a [routerLink]="['/users/', user?.id]">
			<img
				class="new-post-avatar"
				src="assets/images/avatar.png"
				[matTooltip]="user?.username"
			>
		</a>
		<div class="new-post-info">
			<div class="name-container">
				<span>
					<a
						*ngIf="user"
						[routerLink]="['/users/', user?.id]"
					>
						{{user?.username}}
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="new-post-body">
		<div class="new-post-text">
			<mat-form-field
				class="full-width"
				appearance="outline"
			>
				<mat-label>What are you thinking about?</mat-label>
				<textarea
					(input)="onTextChange($event.target.value)"
					[value]="command.text"
					cdkTextareaAutosize
					matInput
				></textarea>
			</mat-form-field>
			<div>
				<button
					class="emoji-toggle-button"
					color="primary"
					(click)="toggleEmojiPicker()"
					mat-icon-button
				>
					<mat-icon>sentiment_satisfied_alt</mat-icon>
				</button>
			</div>
			<div class="emoji-wrapper">
				<emoji-mart
					*ngIf="showEmojiPicker"
					(emojiSelect)="addEmoji($event)"
					class="emoji-mart"
					set="facebook"
					[darkMode]="false"
					title="Pick your emoji"
					emoji="joy"
					[perLine]="8"
				></emoji-mart>
			</div>
		</div>
		<input
			#mediaInput
			(change)="addFiles()"
			type="file"
			accept="image/*, video/*"
			multiple
			hidden
		>
		<div
			*ngIf="renderedMedia || youtubeUrl"
			class="post-media"
		>
			<app-media-preview
				*ngIf="renderedMedia"
				[renderedMedia]="renderedMedia"
			></app-media-preview>
			<app-youtube-preview
				*ngIf="youtubeUrl"
				[url]="youtubeUrl"
			></app-youtube-preview>
		</div>
	</div>
	<div class="new-post-actions">
		<app-new-post-actions (actionActivated)="actionActivated($event)"></app-new-post-actions>
	</div>
</mat-card>
