.media-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video-preview {
        max-width: 100%;
        height: auto;
    }
    .image-preview {
        max-width: 100%;
        height: auto;
    }
}
