.media-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .video-preview {
    width: 100%;
    height: auto;
    max-height: 600px;
  }
  .image-preview {
    width: 100%;
    height: auto;
    max-height: 600px;
  }
}
