<div class="chat-container">
	<div class="chat-options">
		<div class="chat-options-actions">
			<div *ngIf="!(isHandset$ | async)">
				<h2>Chat</h2>
			</div>
			<button
				mat-icon-button
				color="primary"
				[matTooltip]="'New chat'"
				(click)="createNewChat()"
			>
				<mat-icon>add_circle_outline</mat-icon>
			</button>
		</div>
		<div
			*ngIf="state === 'new-chat'"
			class="chat-user-container"
			[ngClass]="{'chat-user-container-active': newChatRoom === activeChatRoom}"
			(click)="setActiveChatRoom(newChatRoom)"
		>
			<div class="chat-user">
				<img
					class="user-avatar"
					src="assets/images/avatar.png"
				>
				<div
					*ngIf="!(isHandset$ | async)"
					class="chat-info"
				>
					New chat with...
				</div>
			</div>
		</div>
		<div
			matRipple
			*ngFor="let cr of chatRooms"
			class="chat-user-container"
			[ngClass]="{'chat-user-container-active': cr?.id === activeChatRoom?.id}"
			(click)="setActiveChatRoom(cr)"
		>
			<div class="chat-user">
				<div class="image-badge">
					<span
						*ngIf="cr.newestMessage && !cr.newestMessage.seen && cr.newestMessage.senderId !== authService.activeSystemEntityValue.id"
						class="badge"
						matBadge="!"
						matBadgePosition="after"
						matBadgeColor="accent"
					></span>
					<img
						*ngIf="cr?.members[0]?.profileImagePath; else profilePlaceholder"
						[src]="environment.apiUrl + '\\' + cr?.members[0]?.profileImagePath"
						[matTooltip]="cr?.members[0]?.qualifiedName"
						class="user-avatar"
					>
					<ng-template #profilePlaceholder>
						<img
							[src]="'assets/images/avatar.png'"
							[matTooltip]="cr?.members[0]?.qualifiedName"
							class="user-avatar"
						>
					</ng-template>
				</div>
				<div
					*ngIf="!(isHandset$ | async)"
					class="chat-info"
				>
					<div class="username">{{cr?.members[0]?.qualifiedName}}</div>
					<div class="last-message">
						<span *ngIf="cr?.newestMessage?.senderId === authService?.activeSystemEntityValue?.id">You:</span>
						{{cr?.newestMessage?.text}}
					</div>
					<div class="last-message-date">
						{{cr?.newestMessage?.createdOn | date:'dd.MM.yyyy, HH:mm'}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chat">
		<div
			*ngIf="state === 'initial'"
			class="initial-container"
		>
			<mat-icon>forum</mat-icon>
			<div>Select chat to start chatting</div>
		</div>
		<form
			*ngIf="state === 'new-chat'"
			class="new-chat-form"
			[formGroup]="newChatForm"
		>
			<mat-form-field
				class="user-search"
				appearance="outline"
			>
				<mat-label>New chat with</mat-label>
				<input
					#newChatInput
					matInput
					[matAutocomplete]="auto"
					formControlName="user"
				>
				<mat-autocomplete
					autoActiveFirstOption
					#auto="matAutocomplete"
					(optionSelected)="userOptionSelected()"
				>
					<mat-option
						*ngFor="let sysEntity of searchedSystemEntities"
						[value]="sysEntity"
					>
						{{sysEntity?.qualifiedName}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
		<div
			*ngIf="state === 'chat-opened'"
			class="message-container"
		>
			<form
				class="new-message"
				[formGroup]="newMessageForm"
			>
				<mat-form-field
					class="full-width"
					appearance="outline"
				>
					<textarea
						matInput
						cdkTextareaAutosize
						cdkAutosizeMinRows="1"
						cdkAutosizeMaxRows="10"
						formControlName="message"
						(keydown)="newMessageKeydown($event)"
					></textarea>
				</mat-form-field>
				<div class="actions">
					<button
						class="emoji-toggle-button"
						color="primary"
						(click)="toggleEmojiPicker()"
						mat-icon-button
					>
						<mat-icon>sentiment_satisfied_alt</mat-icon>
					</button>
					<div class="emoji-wrapper">
						<emoji-mart
							*ngIf="showEmojiPicker"
							(emojiSelect)="addEmoji($event)"
							class="emoji-mart"
							set="facebook"
							[darkMode]="false"
							title="Pick your emoji"
							emoji="joy"
							[perLine]="8"
						></emoji-mart>
					</div>
					<button
						class="send-button"
						color="primary"
						(click)="sendMessage()"
						mat-icon-button
					>
						<mat-icon>send</mat-icon>
					</button>
				</div>
			</form>
			<div
				#messageHistoryDiv
				*ngIf="messages?.length; else noMessageHistory"
				class="message-history"
				infiniteScroll
				[fromRoot]="true"
				infiniteScrollContainer=".message-history"
				(scrolledUp)="onScrolledUp()"
			>
				<div
					*ngFor="let message of messages"
					[ngClass]="{ 'logged-user-message': message.senderId === authService?.activeSystemEntityValue?.id,
          'active-user-message': message.senderId !== authService?.activeSystemEntityValue?.id }"
				>
					<div class="message mat-elevation-z1">
						<div class="message-from">
							<a
								*ngIf="message.senderId === authService?.activeSystemEntityValue?.id; else activeUserLink"
								[routerLink]="[authService?.activeSystemEntityValue?.discriminator === 'User' ? '/users' : '/groups', authService?.activeSystemEntityValue?.id]"
							>
								{{authService?.activeSystemEntityValue?.qualifiedName}}
							</a>
							<ng-template #activeUserLink>
								<a [routerLink]="[activeChatRoom?.members[0]?.discriminator === 'User' ? '/users' : '/groups', activeChatRoom?.members[0]?.id]">
									{{activeChatRoom?.members[0]?.qualifiedName}}
								</a>
							</ng-template>
						</div>
						<div class="message-text">{{message.text}}</div>
						<div class="message-timestamp">
							{{message?.createdOn | date:'dd.MM.yyyy, HH:mm'}}
							<ng-container *ngIf="message.senderId === authService?.activeSystemEntityValue?.id">
								<mat-icon
									*ngIf="!message?.seen; else seen"
									[matTooltip]="'Sent'"
								>
									done
								</mat-icon>
								<ng-template #seen>
									<mat-icon
										color="primary"
										[inline]="true"
										[matTooltip]="'Seen'"
									>
										done_all
									</mat-icon>
								</ng-template>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<ng-template #noMessageHistory>
				<div
					*ngIf="!loadingInitialMessages"
					class="no-message-history"
				>
					<div>
						<span>No previous messages with&nbsp;</span>
						<a [routerLink]="[activeChatRoom?.members[0]?.discriminator === 'User' ? '/users' : '/groups', activeChatRoom?.members[0]?.id]">
							{{activeChatRoom?.members[0]?.qualifiedName}}
						</a>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>
