.comment-preview-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1000px;
  margin: 0 auto;
  .comment-wrapper {
    margin: 10px;
  }
  .navigate-to-post-container {
    display: flex;
    justify-content: flex-start;
  }
}
