<mat-card class="search-container">
	<h3>My groups</h3>
	<div class="new-group-container">
		<button
			class="new-group-button"
			mat-button
			color="primary"
			(click)="createNewGroup()"
		>
			<mat-icon>groups</mat-icon>
			<span>Create new group</span>
		</button>
	</div>
	<form
		class="search-form"
		[formGroup]="searchForm"
		(submit)="search()"
	>
		<mat-form-field class="search-text">
			<mat-label>Search your groups</mat-label>
			<input
				matInput
				formControlName="searchText"
			>
		</mat-form-field>
		<button
			class="search-button"
			mat-button
			color="primary"
			(click)="search()"
		>
			<mat-icon>search</mat-icon>
			<span>Search</span>
		</button>
	</form>
	<div class="search-results">
		<ng-container *ngFor="let searchResult of pagedSearchResults">
			<ng-container [ngSwitch]="searchResult.kind">
				<ng-container *ngSwitchCase="'group'">
					<app-info-group
						[group]="searchResult.result"
						[showAdminText]="true"
					></app-info-group>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
	<div [hidden]="!searchResults?.length">
		<mat-paginator
			[pageSizeOptions]="[1,2,4,8,10,20]"
			[pageSize]="pageSize"
			[length]="searchResults?.length"
			[showFirstLastButtons]="true"
			(page)="pageChangeEvent($event)"
		></mat-paginator>
	</div>
</mat-card>
