<div *ngIf="user" class="user-container animate-fade-in">
	<app-user-header
		[user]="user"
		[followers]="followers"
		[following]="following"
	></app-user-header>
	<mat-tab-group dynamicHeight>
		<mat-tab label="Posts">
			<app-feed
				*ngIf="feedCompConfig"
				[config]="feedCompConfig"
			></app-feed>
		</mat-tab>
		<mat-tab label="Comments">
			<app-comments-feed
				*ngIf="user"
				[systemEntity]="user"
			></app-comments-feed>
		</mat-tab>
		<mat-tab label="About">
			<div class="about-wrapper">
				<app-user-about [user]="user"></app-user-about>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
