<div class="movie-header mat-elevation-z1">
	<div
		class="backdrop-container"
		[ngStyle]="{'background-image': movie.backdrop_path && 'url(' + movieService.configuration.images.base_url + 'w1280' + movie.backdrop_path +')' }"
	>
		<div class="movie-header">
			<div class="movie-thumbnail-container">
				<a [routerLink]="['/movies', movie.id]">
					<div class="poster-container">
						<img
							*ngIf="movie.poster_path"
							class="poster"
							[src]="movieService.configuration.images.base_url + 'w342' + movie.poster_path"
							loading="lazy"
						>
						<img
							*ngIf="!movie.poster_path"
							class="poster"
							src="assets/images/msn-home-logo.jpg"
							loading="lazy"
						>
					</div>
				</a>
			</div>
			<div class="movie-info">
				<h1 class="title all-small-caps">
					<a [routerLink]="['/movies', movie.id]">{{movie.title}}</a>
					<span *ngIf="movie.release_date" class="release-year">({{movie.release_date | slice:0:4}})</span>
				</h1>
				<div class="facts all-small-caps">
					<mat-chip-list>
						<mat-chip
							*ngFor="let genre of movie.genres"
							color="primary"
							selected
						>
							{{genre.name}}
						</mat-chip>
						<mat-chip
							*ngIf="movie.runtime"
							color="accent"
							selected
						>
							{{movie.runtime | movieDuration}}
						</mat-chip>
					</mat-chip-list>
				</div>
				<h2 class="tagline all-small-caps">{{movie.tagline}}</h2>
				<h3
					*ngIf="movie.overview"
					class="overview-title all-small-caps"
				>
					Overview
				</h3>
				<p class="overview">{{movie.overview}}</p>
				<div class="imdb-trailer">
					<app-imdb
						*ngIf="movie.imdb_id"
						class="animate-fade-in"
						[imdbId]="movie.imdb_id"
						[movieTitle]="movie.title"
					></app-imdb>
					<a
						*ngIf="trailerUrl"
						id="trailer"
						class="animate-fade-in"
						[href]="trailerUrl"
						target="_blank"
						matTooltip="Watch trailer on YouTube"
					>
						<img
							loading="lazy"
							src="/assets/images/youtube.svg"
						>
					</a>
				</div>
				<div class="rating">
					<div
						*ngIf="!loading"
						class="movie-rating-wrapper"
					>
						<app-movie-rating [rating]="rating"></app-movie-rating>
						<div class="label all-small-caps text-center">Total rating</div>
					</div>
					<div
						*ngIf="!loading"
						class="movie-rating-wrapper user-rating"
						[ngClass]="{'user-rating-opened': isEditRatingOpened}"
						matTooltip="Edit your rating"
						cdkOverlayOrigin
						#trigger="cdkOverlayOrigin"
						(click)="toggleEditMyRating()"
					>
						<app-movie-rating [rating]="myRating"></app-movie-rating>
						<div class="label all-small-caps text-center">Your rating</div>
						<ng-template
							cdkConnectedOverlay
							[cdkConnectedOverlayPositions]="[{originX: 'end', originY: 'center', overlayX: 'end', overlayY: 'center', offsetY: -80}]"
							[cdkConnectedOverlayOrigin]="trigger"
							[cdkConnectedOverlayOpen]="isEditRatingOpened"
              (backdropClick)="toggleEditMyRating()"
              (overlayKeydown)="onOverlayKeydown($event)"
						>
							<app-user-rating
								[value]="myRating"
								(valueChanged)="userRatingChanged($event)"
							></app-user-rating>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
