.splash-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
