<div class="user-about-container">
	<mat-card class="bio-container">
		<div class="card-header">
			<h3 class="card-title">Bio</h3>
			<button
				*ngIf="authService?.activeSystemEntityValue?.id === user?.id"
				mat-icon-button
				color="primary"
				(click)="editBio()"
			>
				<mat-icon>edit</mat-icon>
			</button>
		</div>

		<mat-card-content>
			<div
				*ngIf="!editMode; else bioEdit"
				class="bio-text"
			>
				{{user?.description}}
			</div>
			<ng-template #bioEdit>
				<div class="bio-edit-text">
					<mat-form-field
						class="full-width"
						appearance="outline"
					>
						<textarea
							[value]="command?.description"
							cdkTextareaAutosize
							matInput
							(input)="onTextChange($event)"
						></textarea>
					</mat-form-field>
					<div>
						<button
							class="emoji-toggle-button"
							color="primary"
							mat-icon-button
							(click)="toggleEmojiPicker()"
						>
							<mat-icon>sentiment_satisfied_alt</mat-icon>
						</button>
					</div>
					<div class="emoji-wrapper">
						<emoji-mart
							*ngIf="showEmojiPicker"
							class="emoji-mart"
							[perLine]="8"
							[darkMode]="false"
							set="facebook"
							title="Pick your emoji"
							emoji="joy"
							(emojiSelect)="addEmoji($event)"
						></emoji-mart>
					</div>
				</div>
				<div class="edit-actions">
					<button
						color="primary"
						mat-button
						(click)="cancelEditBio()"
					>
						Cancel
					</button>
					<button
						color="primary"
						mat-button
						(click)="saveBio()"
					>
						Confirm
					</button>
				</div>
			</ng-template>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<h3>Group membership</h3>
		<div class="groups-container">
			<mat-card
				class="group-card"
				*ngFor="let group of pagedList?.items"
			>
				<mat-card-header>
					<mat-card-title>
						<a
							class="group-title"
							[routerLink]="['/groups', group?.id]"
						>
							{{group?.title}}
						</a>
					</mat-card-title>
					<mat-card-subtitle>{{group?.subtitle}}</mat-card-subtitle>
				</mat-card-header>
				<img
					*ngIf="group?.profileImagePath; else profilePlaceholder"
					[src]="environment.apiUrl + '\\' + group?.profileImagePath"
					mat-card-image
				>
				<ng-template #profilePlaceholder>
					<img
						[src]="'assets/images/avatar.png'"
						mat-card-image
					>
				</ng-template>
				<mat-card-content>
					<p class="group-description">{{group?.description}}</p>
				</mat-card-content>
			</mat-card>
		</div>
		<div [hidden]="!pagedList?.totalCount">
			<mat-paginator
				[pageSizeOptions]="[1,2,4,8,10,20]"
				[pageSize]="paging?.pageSize"
				[length]="pagedList?.totalCount"
				[showFirstLastButtons]="true"
				(page)="pageChangeEvent($event)"
			></mat-paginator>
		</div>
		<div
			class="no-results"
			[hidden]="loading || pagedList?.totalCount"
		>
			No group memberships.
		</div>
	</mat-card>
</div>
