<form
	class="login-form"
	[formGroup]="form"
>
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input
			matInput
			[formControl]="form?.controls.username"
		>
		<mat-error *ngIf="form?.controls.username.hasError('required')">
			Username is
			<strong>required</strong>
		</mat-error>
		<mat-error *ngIf="form?.controls.username.hasError('invalid')">Username is invalid</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input
			matInput
			[formControl]="form?.controls.password"
			type="password"
			autocomplete
		>
		<mat-error *ngIf="form?.controls.password.hasError('required')">
			Password is
			<strong>required</strong>
		</mat-error>
		<mat-error *ngIf="form?.controls.password.hasError('invalid')">Password is invalid</mat-error>
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		(click)="login()"
	>
		Login
	</button>
</form>
