<div class="home-container">
	<div class="header-container">
		<h2>Movie Social Network</h2>
		<p>
			Welcome to MSN, social network focused on creating content and discussing cinematography related news.
		</p>
	</div>
	<div class="main-container">
		<div class="logo-container">
			<img
				class="logo"
				src="assets/images/msn-square-logo.jpg"
			>
		</div>
		<div class="login-register-container">
			<ng-container *ngIf="state === 'login'">
				<h2>Login</h2>
				<app-login (formSubmitted)="formSubmitted($event)"></app-login>
				<button
					class="state-button"
					mat-button
					color="primary"
					[disabled]="submitted"
					(click)="toggleState()"
				>
					Don't have an account? Register here
				</button>
			</ng-container>
			<ng-container *ngIf="state === 'register'">
				<h2>Register</h2>
				<app-register (formSubmitted)="formSubmitted($event)"></app-register>
				<button
					class="state-button"
					mat-button
					color="primary"
					[disabled]="submitted"
					(click)="toggleState()"
				>
					Already have an account? Login here
				</button>
			</ng-container>
			<mat-progress-bar
				*ngIf="submitted"
				mode="indeterminate"
			></mat-progress-bar>
		</div>
	</div>
	<div class="divider-container">
		<mat-divider></mat-divider>
	</div>
	<div class="app-info-container">
		<div class="author">
			<a
				href="https://www.etf.bg.ac.rs/sr"
				target="_blank"
			>
				<img src="assets/images/etf.png">
			</a>
			<div class="divider-container">
				<mat-divider></mat-divider>
			</div>
			<div>Developed by Predrag Mitrović</div>
			<div>Mentored by Dr Dražen Drašković</div>
			<div>
				University of Belgrade, School of Electrical Engineering
			</div>
		</div>
		<div class="tmdb">
			<a
				href="https://www.themoviedb.org"
				target="_blank"
			>
				<img src="assets/images/tmdb.svg">
			</a>
			<div class="divider-container">
				<mat-divider></mat-divider>
			</div>
			<div>
				TMDb API is used as a source for cinematography data.
			</div>
			<div>
				This product uses the TMDb API but is not endorsed or certified by TMDb.
			</div>
		</div>
	</div>
</div>
