<div class="user-header-container">
    <div class="cover-image">
        <img src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-9/59022744_10205538098208517_3934019275236311040_o.jpg?_nc_cat=108&ccb=2&_nc_sid=e3f864&_nc_ohc=0ow0hKnqP_sAX8ikFpD&_nc_ht=scontent.fbeg1-1.fna&oh=327508b3f924a8cd4b64fd8f0e28907f&oe=5FDD4550" />
    </div>
    <div class="profile-image">
        <img src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-9/65219049_10205705790960731_3096226655077662720_o.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=u4vs0X-gMQwAX_Uz-_a&_nc_ht=scontent.fbeg1-1.fna&oh=fcc57942bc0f4ee00a6aeb4a4bd62fc9&oe=5FDB9417" />
    </div>
    <div class="username">
        <span>Vladimir Sivčev</span>
    </div>
</div>
