<div class="user-header-container">
	<input
		#mediaInput
		(change)="addFiles()"
		type="file"
		accept="image/*"
		multiple
		hidden
	>
	<div
		*ngIf="!coverPreviewMode; else coverPreview"
		class="cover-image"
	>
		<img
			*ngIf="user?.coverImagePath; else coverPlaceholder"
			[src]="environment.apiUrl + '\\' + user?.coverImagePath"
		>
		<ng-template #coverPlaceholder>
			<img [src]="'assets/images/avatar.png'">
		</ng-template>
	</div>
	<ng-template #coverPreview>
		<div class="cover-image">
			<img [src]="user?.coverImagePath">
		</div>
	</ng-template>
	<div class="profile-settings">
		<button
			mat-icon-button
			color="primary"
			[matMenuTriggerFor]="profileSettings"
		>
			<mat-icon>settings</mat-icon>
		</button>
		<mat-menu #profileSettings="matMenu">
			<button mat-menu-item>
				<mat-icon>report</mat-icon>
				<span>Report user</span>
			</button>
			<button
				mat-menu-item
				(click)="addMedia('cover')"
			>
				<mat-icon>image</mat-icon>
				<span>Change cover picture</span>
			</button>
			<button
				mat-menu-item
				(click)="addMedia('profile')"
			>
				<mat-icon>face</mat-icon>
				<span>Change profile picture</span>
			</button>
		</mat-menu>
	</div>
	<div
		*ngIf="!profilePreviewMode; else profilePreview"
		class="profile-image"
	>
		<img
			*ngIf="user?.profileImagePath; else profilePlaceholder"
			[src]="environment.apiUrl + '\\' + user?.profileImagePath"
		>
		<ng-template #profilePlaceholder>
			<img [src]="'assets/images/avatar.png'">
		</ng-template>
	</div>
	<ng-template #profilePreview>
		<div class="profile-image">
			<img [src]="user?.profileImagePath">
		</div>
	</ng-template>
	<div class="username">
		<span>{{user?.username}}</span>
	</div>
	<div class="followers">
		<button
			mat-button
			color="primary"
			(click)="seeFollowers()"
		>
			1204 followers
		</button>
		<button
			mat-button
			color="primary"
			(click)="seeFollowing()"
		>
			865 following
		</button>
	</div>
	<div class="follow">
		<button
			*ngIf="!isFollowing"
			mat-flat-button
			color="primary"
			(click)="follow()"
		>
			Follow
		</button>
		<button
			*ngIf="isFollowing"
			mat-button
			color="warn"
			(click)="unfollow()"
		>
			Unfollow
		</button>
	</div>
</div>
