.sidenav-container {
  height: 100%;
  mat-nav-list {
    mat-icon {
      margin-right: 8px;
    }
  }
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .left-side,
  .right-side {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    .right-side-action,
    .right-side-avatar {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 5px;
      align-items: center;
      .username {
        color: white;
        font-size: 16px;
        margin-left: 10px;
      }
      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #d2d7df;
      }
    }
    .right-side-avatar {
      min-width: unset;
      height: 64px;
      margin-left: 10px;
      @media only screen and (max-width: 600px) {
        height: 56px;
      }
    }
  }
  .right-side {
    justify-content: flex-end;
  }
  .notifications {
    position: relative;
    .notification-menu {
      background: #fafafa;
      color: white;
      position: absolute;
      width: 300px;
      max-height: 480px;
      top: 30px;
      right: 0;
      border-radius: 5px;
      z-index: 20000;
      .notification-pointer {
        background: #fafafa;
        width: 24px;
        height: 24px;
        position: absolute;
        transform: rotate(45deg);
        left: 158px;
        top: -6px;
        @media only screen and (max-width: 600px) {
          top: -10px;
        }
        z-index: -1;
      }
      .notifications {
        color: black;
        .notification {
          border-radius: 5px;
          margin: 5px;
          height: 80px;
          user-select: none;
          cursor: pointer;
          .notification-content {
            display: flex;
            align-items: center;
            .avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              user-select: none;
              pointer-events: none;
            }
            .notification-info {
              margin-left: 5px;
              max-width: calc(100% - 60px);
              height: 80px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              .notification-notifier {
                font-weight: bold;
              }
              .notification-notifier,
              .notification-body,
              .notification-date {
                line-height: 14px;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .notification-date,
              .notification-body {
                font-size: 12px;
                line-height: 12px;
                color: #000000de;
              }
            }
          }
        }
        .notification:focus {
          outline: none;
        }
        .new-notification {
          background-color: #d2d7df;
        }
      }
      .all-notifications {
        color: black;
        margin: 5px;
        height: 40px;
        line-height: 14px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
