<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		[hidden]="!authService?.activeSystemEntityValue"
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="'over'"
	>
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a
				mat-list-item
				routerLink="/feed"
			>
				<mat-icon>feed</mat-icon>
				Feed
			</a>
			<a
				mat-list-item
				routerLink="/explore"
			>
				<mat-icon>explore</mat-icon>
				Explore
			</a>
			<a
				mat-list-item
				routerLink="/search"
			>
				<mat-icon>search</mat-icon>
				Search
			</a>
			<a
				mat-list-item
				routerLink="/groups"
			>
				<mat-icon>groups</mat-icon>
				My groups
			</a>
			<div></div>
			<a
				mat-list-item
				(click)="logout(); drawer.toggle()"
			>
				<mat-icon>logout</mat-icon>
				Logout
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<mat-toolbar color="primary">
			<div class="toolbar-container">
				<div class="left-side">
					<button
						*ngIf="authService?.activeSystemEntityValue"
						mat-icon-button
						aria-label="Toggle sidenav"
						(click)="drawer.toggle()"
					>
						<mat-icon>menu</mat-icon>
					</button>
					<span>MSN</span>
				</div>
				<div
					*ngIf="authService?.activeSystemEntityValue"
					class="right-side"
				>
					<button
						class="right-side-action"
						mat-icon-button
						(click)="switchContext()"
					>
						<mat-icon>loop</mat-icon>
					</button>
					<button
						class="right-side-action"
						mat-icon-button
						(click)="toggleNotificationMenu()"
					>
						<mat-icon
							[matBadge]="newNotificationCount"
							[matBadgeHidden]="newNotificationCount === 0"
							matBad
							matBadgePosition="after"
							matBadgeColor="accent"
						>
							notifications
						</mat-icon>
					</button>
					<button
						class="right-side-action"
						mat-icon-button
						[routerLink]="['/chat']"
					>
						<mat-icon
							matBadge="5"
							matBadgePosition="after"
							matBadgeColor="accent"
						>
							chat
						</mat-icon>
					</button>
					<a
						mat-button
						class="right-side-avatar"
						[routerLink]="['/users', authService?.activeSystemEntityValue?.id]"
					>
						<img
							*ngIf="authService?.activeSystemEntityValue?.profileImagePath; else profilePlaceholder"
							[src]="environment.apiUrl + '\\' + authService?.activeSystemEntityValue?.profileImagePath"
							class="user-avatar"
						>
						<ng-template #profilePlaceholder>
							<img
								[src]="'assets/images/avatar.png'"
								class="user-avatar"
							>
						</ng-template>
					</a>
					<div class="notifications">
						<div
							*ngIf="showNotificationMenu"
							class="notification-menu mat-elevation-z4 mat-primary"
						>
							<div class="notification-pointer mat-primary"></div>
							<div class="notifications">
								<div
									matRipple
									*ngFor="let notification of notifications"
									class="notification"
									[ngClass]="{'new-notification': !notification?.seen}"
									[routerLink]="notification?.link"
									(click)="notificationClicked(notification)"
								>
									<div class="notification-content">
										<img
											class="avatar"
											src="assets/images/avatar.png"
										>
										<div class="notification-info">
											<div class="notification-notifier">{{notification?.notifier}}</div>
											<div class="notification-body">{{notification?.body}}</div>
											<div class="notification-date">{{fromNow}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="all-notifications">
								<a
									[routerLink]="'/notifications'"
									(click)="toggleNotificationMenu()"
								>
									See all your notifications
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
