<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		[hidden]="!authService?.activeSystemEntityValue"
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="'over'"
	>
		<img
			class="logo"
			src="assets/images/msn-square-logo.jpg"
		>
		<mat-nav-list>
			<a
				mat-list-item
				routerLink="/feed"
				(click)="drawer.toggle()"
			>
				<mat-icon>feed</mat-icon>
				Feed
			</a>
			<a
				mat-list-item
				routerLink="/explore"
				(click)="drawer.toggle()"
			>
				<mat-icon>explore</mat-icon>
				Explore
			</a>
			<a
				mat-list-item
				routerLink="/search"
				(click)="drawer.toggle()"
			>
				<mat-icon>search</mat-icon>
				Search
			</a>
			<a
				*ngIf="authService?.activeSystemEntityValue?.discriminator === 'User'"
				mat-list-item
				routerLink="/groups"
				(click)="drawer.toggle()"
			>
				<mat-icon>groups</mat-icon>
				My groups
			</a>
			<div></div>
			<a
				mat-list-item
				(click)="logout(); drawer.toggle()"
			>
				<mat-icon>logout</mat-icon>
				Logout
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<mat-toolbar color="primary">
			<div class="toolbar-container">
				<div class="left-side">
					<button
						*ngIf="authService?.activeSystemEntityValue"
						mat-icon-button
						aria-label="Toggle sidenav"
						(click)="drawer.toggle()"
					>
						<mat-icon>menu</mat-icon>
					</button>
					<span>MSN</span>
				</div>
				<div
					*ngIf="authService?.activeSystemEntityValue"
					class="right-side"
				>
					<button
						*ngIf="authService?.activeSystemEntityValue?.discriminator === 'Group'"
						[matTooltip]="'Switch back to ' + authService?.loggedUserValue?.qualifiedName"
						class="right-side-action"
						mat-icon-button
						(click)="switchContext()"
					>
						<mat-icon>loop</mat-icon>
					</button>
					<button
						matTooltip="Notifications"
						class="right-side-action"
						mat-icon-button
						(click)="toggleNotificationMenu()"
					>
						<mat-icon
							[matBadge]="unseenNotificationCount"
							[matBadgeHidden]="unseenNotificationCount === 0"
							matBad
							matBadgePosition="after"
							matBadgeColor="accent"
						>
							notifications
						</mat-icon>
					</button>
					<button
						matTooltip="Chat"
						class="right-side-action"
						mat-icon-button
						[routerLink]="['/chat']"
					>
						<mat-icon
							[matBadge]="unseenChatRoomCount"
							[matBadgeHidden]="unseenChatRoomCount <= 0"
							matBadgePosition="after"
							matBadgeColor="accent"
						>
							chat
						</mat-icon>
					</button>
					<a
						[matTooltip]="authService?.activeSystemEntityValue?.qualifiedName"
						mat-button
						class="right-side-avatar"
						[routerLink]="[authService?.activeSystemEntityValue?.discriminator === 'User' ? '/users' : '/groups', authService?.activeSystemEntityValue?.id]"
					>
						<img
							*ngIf="authService?.activeSystemEntityValue?.profileImagePath; else profilePlaceholder"
							[src]="environment.apiUrl + '\\' + authService?.activeSystemEntityValue?.profileImagePath"
							class="user-avatar"
						>
						<ng-template #profilePlaceholder>
							<img
								[src]="'assets/images/avatar.png'"
								class="user-avatar"
							>
						</ng-template>
					</a>
					<div class="notifications">
						<div
							*ngIf="showNotificationMenu"
							class="notification-menu mat-elevation-z4 mat-primary"
						>
							<div class="notification-pointer mat-primary"></div>
							<div class="notifications">
								<div
									matRipple
									*ngFor="let notification of notifications"
									class="notification"
									[ngClass]="{'new-notification': !notification?.seen}"
									[routerLink]="notification.routerLink"
									(click)="notificationClicked(notification)"
								>
									<div class="notification-content">
										<img
											*ngIf="notification?.sender?.profileImagePath; else profilePlaceholder"
											[src]="environment.apiUrl + '\\' + notification?.sender?.profileImagePath"
											class="avatar"
										>
										<ng-template #profilePlaceholder>
											<img
												[src]="'assets/images/avatar.png'"
												class="avatar"
											>
										</ng-template>
										<div class="notification-info">
											<div class="notification-notifier">{{notification?.sender?.qualifiedName}}</div>
											<div
												class="notification-body"
												[ngSwitch]="notification?.type"
											>
												<ng-container *ngSwitchCase="'follow'">Followed you.</ng-container>
												<ng-container *ngSwitchCase="'comment'">Commented on your post.</ng-container>
											</div>
											<div class="notification-date">{{notification?.fromNow}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="all-notifications">
								<a
									[routerLink]="'/notifications'"
									(click)="toggleNotificationMenu()"
								>
									See all your notifications
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
