.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left-side,
    .right-side {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        .right-side-action,
        .right-side-avatar {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0 5px;
            align-items: center;
            .username {
                color: white;
                font-size: 16px;
                margin-left: 10px;
            }
            .user-avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .right-side-avatar {
            min-width: unset;
            height: 64px;
            margin-left: 10px;
            @media only screen and (max-width: 600px) {
                height: 56px;
            }
        }
    }
    .right-side {
        justify-content: flex-end;
    }
}
