<form
	class="register-form"
	[formGroup]="form"
>
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input
			matInput
			[formControl]="form?.controls.email"
		>
		<mat-error *ngIf="form?.controls.email.hasError('email') && !form?.controls.email.hasError('required')">Please enter a valid email address</mat-error>
		<mat-error *ngIf="form?.controls.email.hasError('required')">
			Email is
			<strong>required</strong>
		</mat-error>
		<mat-error *ngIf="form?.controls.email.hasError('alreadyExists')">Email already exists</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Username</mat-label>
		<input
			matInput
			[formControl]="form?.controls.username"
		>
		<mat-error *ngIf="form?.controls.username.hasError('minlength') && !form?.controls.username.hasError('required')">
			Username should be at least 3 characters long
		</mat-error>
		<mat-error *ngIf="form?.controls.username.hasError('required')">
			Username is
			<strong>required</strong>
		</mat-error>
		<mat-error *ngIf="form?.controls.username.hasError('alreadyExists')">Username already exists</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<input
			matInput
			[formControl]="form?.controls.password"
			type="password"
			autocomplete
		>
		<mat-error *ngIf="form?.controls.password.hasError('minlength') && !form?.controls.password.hasError('required')">
			Password should be at least 8 characters long
		</mat-error>
		<mat-error *ngIf="form?.controls.password.hasError('required')">
			Password is
			<strong>required</strong>
		</mat-error>
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		(click)="register()"
	>
		Register
	</button>
</form>
