<div class="group-container">
	<app-group-header
		[group]="group"
		[followers]="followers"
		[following]="following"
	></app-group-header>
	<mat-tab-group dynamicHeight>
		<mat-tab label="Posts">
			<app-feed
				*ngIf="feedCompConfig"
				[config]="feedCompConfig"
			></app-feed>
		</mat-tab>
		<mat-tab label="Comments">
			<app-comments-feed
				*ngIf="group"
				[systemEntity]="group"
			></app-comments-feed>
		</mat-tab>
		<mat-tab label="About">
			<div class="about-wrapper">
				<app-group-about
					[group]="group"
					[groups]="groups"
				></app-group-about>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
