.movies-search-container {
  .movies-search-query {
    width: 300px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .movie-thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, max-content));
    grid-gap: 10px;
    justify-content: center;
  }
}
