.movies-search-container {
  .movies-search-query {
    width: 300px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .movie-thumbnail-wrapper {
      padding: 5px;
      animation-duration: 300ms;
      animation-name: fadeIn;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
